body {
  background-color: #FCF8E8;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

header {
  position: relative;
  top: 0;
  height: auto;
  width: 100%;
}

nav {
  background-color: #F5F0BB;
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;

}

.nav-container {
	max-width: 1200px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#logo {
 width: 100px;
 position: absolute;
 
}

.nav-container ul {
	float: right;
	height: 100px;
	line-height: 100px;
	margin-left: 800px;
}

.nav-container ul li {
	list-style: none;
	float: left;
	margin: 0 15px;
}

.nav-container li a {
	text-decoration: none;
	color: #377D71;
	transition: .5s;
}

.nav-container li a:hover {
	color: #9EB23B;
}

.top-container {
  background-color: #FCF8E8;
  padding-top: 125px;
  padding-bottom: 20px;
  width: 50%;
  margin: 0 auto 0 auto;
  line-height: 2; 
}


.top-container img {
  width: 300px;
  margin-bottom: 10px;
  margin-right: 30px;
}

.middle-container {
  background-color: #FCF8E8;
  width: 50%;
  padding: 100;
  margin: 0 auto 0 auto;
  text-align: left;
  line-height: 2;
}

.middle-container table {
  padding-bottom: 50px;
  text-align: left;
  line-height: 2;
}

.middle-container td {
  color: #9EB23B;
  border: 2px solid;
  padding: 10px;
}

.bottom-container {
  background-color: #FCF8E8;
  width: 50%;
  margin: 0 auto 0 auto;
  border-top: 0;
  text-align: left;
  line-height: 2;
}

.bottom-container table {
  padding-bottom: 50px;
  text-align: left;
  line-height: 2;  
}

.bottom-container td {
  color: #9EB23B;
  border: 2px solid;
  padding: 10px;
}

h1 {
  color: #377D71;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Sacramento', serif;
  font-size: 50px;
}


h2,h3,h4 {
  color: #94B49F;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: normal;
}

p {
  color: #9EB23B;
  margin-top: 0;
  padding-bottom: 20px;
  line-height: 2;
  text-align: left;
}

.img-building {
  width: 25%;
  float: left;
  margin: 15px;
}

.img-dev {
  width: 25%;
  float: right;
  margin-bottom: 50px;
}

hr {
  color: #377d7128;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 10%;
  padding: 20px;
}

.aboutme-h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 40px;
}

.aboutme-h3 {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: left;
}

.skills-container {
  text-align: left;
}

.skills-container table {
  border: 2px #9EB23B;
  margin-bottom: 30px;
}

.skills-container td {
  border: 2px solid #9EB23B;
  padding: 5px;
}


.div-contact {
  background-color: #F5F0BB;
  height: 100px;
  width: 100%;
  padding-bottom: 10px;
}
.div-contact table {
  margin: 0 300px;
}

.div-contact td {
	float: left;
	margin: 0 10px;
  text-align: center;
}

.div-contact td a {
	text-decoration: none;
	color: #377D71;
	transition: .5s;
}

.contact-h1 {
  margin-top: 125px;
  margin-bottom: 10px;
}
    /* styling form  */
    
.div-form {
  display: flex;
  width: 50%;
  margin: 0 auto 0 auto;
  border-top: 0;
  text-align: left;
  line-height: 2;
}

.div-form label {
  color: #9EB23B;
  display: flex;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.div-form textarea {
  background: rgba(149, 180, 76, 0.144);
  width : 480px;
  padding: 20px;
  margin: 0;
  box-sizing: border-box;
  border: none;
  border-radius: 22px;
}

.div-form input {
  background: rgba(149, 180, 76, 0.144);
  width : 150px;
  border: none;
  border-radius: 22px;
  padding: 5px;
}

.submit-btn {
  border: none;
  margin-left: 325px;
}

.submit-btn:hover {
  background-color: #9EB23B;
	color: #f8f8f8;
  transition: .5s;
}